Repository DeepLink-org/dlinfer, pull requests merged in 2024-12, with the labels that each got.

#118 [maca] rename env variable on maca.
  dlinfer/vendor/maca/maca_ops.py
Labels: maca

#103 [ascend]feat: support kv int8
  dlinfer/graph/dicp/vendor/AtbGraph/conversion.py
  dlinfer/ops/llm.py
  dlinfer/vendor/ascend/torch_npu_ops.py
  dlinfer/vendor/maca/maca_ops.py
  docs/quant/ascend_kv_quant.md
  docs/quant/ascend_scales_offsets.py
Labels: ascend

#112 [maca] add weight_quant_matmul op to support w4a16.
  dlinfer/vendor/maca/maca_ops.py
Labels: maca

#121 [ascend]fix linear all_reduce
  dlinfer/vendor/ascend/torch_npu_ops.py
Labels: ascend

#125 [ascend] fix internalTensor max used nodeid and disable graph op in add_rms_norm
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/model.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/model.h
  dlinfer/graph/dicp/vendor/AtbGraph/conversion.py
Labels: ascend

#128 [maca] use vllm ops directly.
  dlinfer/__init__.py
  dlinfer/vendor/maca/csrc/CMakeLists.txt
  dlinfer/vendor/maca/csrc/pybind.cpp
  dlinfer/vendor/maca/maca_ops.py
Labels: maca

#127 fix linear_impl_abstract_func
  dlinfer/ops/llm.py
Labels: bug, ascend

#137 fixed ascend graph_mode fused_moe
  dlinfer/graph/dicp/vendor/AtbGraph/conversion.py
Labels: ascend

#136 [ascend] revert parse atb graph
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_graph.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_op.py
Labels: ascend
