Repository DeepLink-org/dlinfer, pull requests merged in 2024-11, with the labels that each got.

#90 [ascend] feat: add parallel linear in graph
  dlinfer/graph/dicp/vendor/AtbGraph/atb_op.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_infer_param.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_op.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/all_ops.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/atb_ops/linear_parallel.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/operation_creator.h
  dlinfer/graph/dicp/vendor/AtbGraph/conversion.py
Labels: ascend

#91 [ascend] fix prefill_attention in ascend graph mode
  dlinfer/framework/transformers_ext/cogvlm.py
  dlinfer/framework/transformers_ext/internvl.py
  dlinfer/vendor/ascend/torch_npu_ops.py
Labels: ascend

#96 [ascend] opt: remove pdb in dicp
  dlinfer/graph/dicp/dynamo_bridge/graph.py
  dlinfer/graph/dicp/dynamo_bridge/op_transformer.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_graph.py
  dlinfer/graph/dicp/vendor/AtbGraph/opset_convert.py
Labels: ascend

#94 [maca] adjust rotary_embedding.
  dlinfer/vendor/maca/csrc/ops.h
  dlinfer/vendor/maca/csrc/pos_encoding_kernels.cu
  dlinfer/vendor/maca/csrc/pybind.cpp
  dlinfer/vendor/maca/maca_ops.py
Labels: maca

#95 [maca] code refine
  .gitignore
  dlinfer/vendor/maca/CMakeLists.txt
  dlinfer/vendor/maca/maca_ops.py
  requirements/maca/build.txt
  requirements/maca/torch.txt
Labels: maca

#98 [ascend] feat: support moe in graph mode
  dlinfer/graph/dicp/vendor/AtbGraph/atb_op.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_infer_param.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_op.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/CMakeLists.txt
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/model.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/gt_scalar_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/index_select_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/index_select_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/s_where_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/slice_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/slice_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/softmax_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/softmax_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/topk_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/topk_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/all_ops.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/atb_ops/allreduce.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/atb_ops/linear_parallel.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/atb_ops/rope.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/atb_ops/slice.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/atb_ops/softmax.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/atb_ops/sort.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/operation_creator.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/utils/common.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/utils/scalar.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/utils/scalar.h
  dlinfer/graph/dicp/vendor/AtbGraph/config.py
  dlinfer/graph/dicp/vendor/AtbGraph/conversion.py
  dlinfer/graph/dicp/vendor/AtbGraph/ext_ops.py
  dlinfer/graph/dicp/vendor/AtbGraph/pattern_replacement.py
  dlinfer/ops/llm.py
  dlinfer/vendor/ascend/torch_npu_ops.py
Labels: ascend

#107 [ascend] refactor parse atb graph and add reshape ops
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_graph.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_infer_param.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_op.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/CMakeLists.txt
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/model.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/all_ops.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/custom_ops/reshape_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/custom_ops/reshape_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/custom_ops/squeeze_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/custom_ops/squeeze_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/custom_ops/unsqueeze_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/custom_ops/unsqueeze_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/custom_ops/view_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/custom_ops/view_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/operation_creator.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/utils/common.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/utils/common.h
Labels: ascend

#114 [ascend] feat: add expand op
  dlinfer/graph/dicp/vendor/AtbGraph/atb_op.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_infer_param.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_op.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/expand_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/expand_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/all_ops.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/operation_creator.h
  dlinfer/graph/dicp/vendor/AtbGraph/conversion.py
Labels: ascend

#115 [ascend] feat: support lmdeploy logits process
  dlinfer/graph/dicp/vendor/AtbGraph/atb_op.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_infer_param.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/atb_op.py
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/add_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/add_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/div_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/div_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/gather_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/gather_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/ge_scalar_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/ge_scalar_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/inplace_div_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/inplace_div_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/inplace_scatter_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/inplace_scatter_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/mul_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/mul_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/sub_operation.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/sub_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/aclnn_ops/subs_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/all_ops.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/custom_ops/scalar_tensor_operaion.cpp
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/custom_ops/scalar_tensor_operation.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/ops/operation_creator.h
  dlinfer/graph/dicp/vendor/AtbGraph/codegen/runtime/utils/log.h
  dlinfer/graph/dicp/vendor/AtbGraph/conversion.py
  dlinfer/graph/dicp/vendor/AtbGraph/ext_ops.py
  dlinfer/graph/dicp/vendor/AtbGraph/pattern_replacement.py
Labels: ascend

#116 [maca] add environment variable to support different mm layout on maca.
  dlinfer/vendor/maca/maca_ops.py
Labels: ascend, maca
